// Variables
// Colors
$Cyan: hsl(180, 66%, 49%);
$DarkViolet: hsl(257, 27%, 26%);
$Red: hsl(0, 87%, 67%);
$Gray: hsl(0, 0%, 75%);
$GrayishViolet: hsl(257, 7%, 63%);
$VeryDarkBlue: hsl(255, 11%, 22%);
$VeryDarkViolet: hsl(260, 8%, 14%);
//Fonts
$fontSize: 1.8rem;
$fontFamily: "Poppins";

@mixin flexCenter($direction, $align, $justify) {
	display: flex;
	flex-direction: $direction;
	align-items: $align;
	justify-content: $justify;
}

@mixin buttonTransparent() {
	border: none;
	background-color: transparent;
	color: white;
	border-radius: 20px;
}

@mixin generalContainer() {
	@include flexCenter(column, center, center);
	background-color: transparentize($color: $Gray, $amount: 0.8);
	gap: 2rem;
	@media (min-width: 767px) {
		padding: 0rem 5rem;
	}
}
html {
	font-size: 62.5%;
}

* {
	box-sizing: border-box;
	border: none;
	font-weight: 500;
	// border: red solid 1px !important;
}
a {
	text-decoration: none;
	cursor: pointer;
}
body {
	font-size: $fontSize;
	font-family: $fontFamily, sans-serif;
	color: $GrayishViolet;
}
button:hover {
	cursor: pointer;
	background-color: transparentize($color: $Cyan, $amount: 0.3);
}

header {
	position: relative;
	margin: 2rem 0rem;
	height: 5rem;
	padding: 1rem 2rem;
	@include flexCenter(row, center, space-between);
	.header__logo {
		height: 100%;
		img {
			height: 100%;
		}
	}
	.header__nav {
		height: 100%;
		button {
			height: 100%;
			@include buttonTransparent();
			img {
				height: 100%;
				filter: brightness(0) saturate(100%) invert(67%) sepia(6%)
					saturate(269%) hue-rotate(208deg) brightness(91%) contrast(93%);
			}
		}
	}
	@media (min-width: 767px) {
		padding: 1rem 5rem;
	}
	@media (min-width: 899px) {
		margin-top: 3rem;
		padding: 1rem 10rem;
	}
}
nav {
	position: absolute;
	top: 6rem;
	right: 0;
	left: 0;
	margin: 0 auto;
	@include flexCenter(column, center, center);
	background-color: $DarkViolet;
	width: 90%;
	border-radius: 20px;
	text-align: center;
	padding: 3rem;
	div {
		@include flexCenter(column, center, space-around);
		width: 100%;
		gap: 2rem;
	}
	.nav__info {
		border-bottom: 1px $GrayishViolet solid;
		padding: 1rem 0rem;
	}
	p {
		color: white;
		font-weight: 700;
	}
	p:hover {
		cursor: pointer;
		color: black;
	}
	button {
		@include buttonTransparent();
		background-color: $Cyan;
		width: 100%;
		padding: 2rem;
		font-weight: 700;
	}
	@media (min-width: 767px) {
		position: inherit;
		@include flexCenter(row, center, space-between);
		background-color: transparent;
		top: auto;
		width: 100%;
		height: 100%;
		padding: 0;
		div {
			@include flexCenter(row, center, flex-end);
			height: 100%;
		}
		.nav__info {
			border: none;
			padding: 0rem;
		}
		p {
			color: $GrayishViolet;
			font-size: 1.4rem;
			font-weight: 700;
		}
		button {
			width: auto;
			height: 100%;
			padding: 0rem 2rem;
		}
	}
	@media (min-width: 1400px) {
		p {
			font-size: 2rem;
		}
	}
}
.introduction__container {
	@include flexCenter(column, center, center);
	padding-bottom: 10rem;
	.introduction__image {
		width: 100%;
		height: 60vh;
		background-image: url("./assets/images/illustration-working.svg");
		background-position: 50px 0px;
		background-size: 120%;
		background-repeat: no-repeat;
	}
	.introduction__text {
		@include flexCenter(column, center, center);
		padding: 0rem 2rem;
		text-align: center;
		gap: 1rem;
		h1 {
			color: $DarkViolet;
			margin: 0;
			font-weight: 700;
		}
		button {
			@include buttonTransparent();
			width: 150px;
			padding: 1rem 2rem;
			background-color: $Cyan;
			border-radius: 50px;
		}
		button:hover {
			background-color: transparentize($color: $Cyan, $amount: 0.3);
		}
	}
	@media (min-width: 767px) {
		@include flexCenter(row-reverse, center, center);
		padding: 0rem 5rem 10rem 5rem;
		.introduction__image {
			background-position: 0px 100px;
			background-size: 150%;
		}
		.introduction__text {
			@include flexCenter(column, flex-start, center);
			text-align: start;
		}
	}
	@media (min-width: 899px) {
		padding: 0rem 10rem 10rem 10rem;
		.introduction__image {
			background-size: 120%;
		}
	}
	@media (min-width: 1400px) {
		.introduction__image {
			height: 100vh;
			background-size: contain;
		}
		.introduction__text {
			padding: 0rem 10rem;
			h1 {
				font-size: 5rem;
			}
			p {
				font-size: 2.5rem;
			}
		}
	}
}

.float__container {
	@include flexCenter(column, center, space-evenly);
	height: 150px;
	width: 90%;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: $DarkViolet;
	background-image: url("./assets/images/bg-shorten-mobile.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	transform: translateY(-7rem);
	input {
		width: 90%;
		height: 30%;
		border-radius: 10px;
		outline: none;
		padding: 0rem 2rem;
	}
	button {
		@include buttonTransparent();
		width: 90%;
		height: 30%;
		background-color: $Cyan;
		border-radius: 10px;
	}
	button:hover {
		background-color: transparentize($color: $Cyan, $amount: 0.3);
	}
	@media (min-width: 767px) {
		width: 80%;
		background-image: url("./assets/images/bg-shorten-desktop.svg");
	}
	@media (min-width: 899px) {
		@include flexCenter(row, center, center);
		padding: 2rem;
		transform: translateY(-5rem);
		gap: 2rem;
		height: 100px;
		input {
			height: 5rem;
		}
		button {
			height: 5rem;
			width: 20rem;
		}
	}
	@media (min-width: 1400px) {
		width: 72%;
	}
}
.card__container {
	@include generalContainer();
	padding: 10rem 2rem;
	@media (min-width: 767px) {
		padding: 10rem 8rem;
	}
	@media (min-width: 1400px) {
		padding: 10rem 20rem;
	}
}
.card__link {
	@include flexCenter(column, flex-start, space-around);
	width: 100%;
	min-height: 150px;
	background-color: white;
	padding: 2rem;
	gap: 2rem;
	.card__longlink {
		width: 100%;
		padding-bottom: 1rem;
		border-bottom: 1px $GrayishViolet solid;
		a {
			color: $VeryDarkViolet;
		}
	}
	a {
		color: $Cyan;
	}
	button {
		@include buttonTransparent();
		background-color: $Cyan;
		align-self: center;
		width: 100%;
		height: 4rem;
	}
	button:hover {
		background-color: transparentize($color: $Cyan, $amount: 0.3);
	}
	@media (min-width: 899px) {
		@include flexCenter(row, center, center);
		min-height: 100px;
		gap: 5rem;
		.card__longlink {
			padding: 0;
			border: 0;
		}
		button {
			width: 25rem;
		}
	}
}
.statistics__container {
	@include generalContainer();
	text-align: center;
	position: relative;
	padding: 0rem 2rem;
	h2 {
		color: $DarkViolet;
		font-weight: 700;
		font-size: 3rem;
	}
	@media (min-width: 767px) {
		padding: 0rem 8rem;
	}
	@media (min-width: 1400px) {
		padding: 0rem 15rem;
		h2 {
			font-size: 5rem;
		}
		p {
			font-size: 3rem;
		}
	}
}
.line {
	position: absolute;
	width: 5px;
	height: 1000px;
	background-color: $Cyan;
	@media (min-width: 1400px) {
		width: 80%;
		height: 5px;
		bottom: 40%;
	}
}
.statistics__cards {
	@include flexCenter(column, center, center);
	padding: 5rem 0rem;
	gap: 10rem;
	@media (min-width: 1400px) {
		@include flexCenter(row, center, center);
		gap: 5rem;
	}
}
.card__general {
	@include flexCenter(column, center, center);
	background-color: white;
	padding: 5rem 2rem;
	position: relative;
	width: 100%;
	min-height: 300px;
	border-radius: 10px;
	.card__logo {
		@include flexCenter(column, center, center);
		position: absolute;
		width: 10rem;
		height: 10rem;
		background-color: $DarkViolet;
		top: -5rem;
		border-radius: 100%;
		img {
			width: 50%;
			height: 50%;
		}
	}
	h3 {
		color: $DarkViolet;
		font-weight: 700;
	}
	@media (min-width: 1400px) {
		@include flexCenter(column, flex-start, center);
		text-align: start;
		h3 {
			font-size: 3rem;
		}
		p {
			font-size: 2.2rem;
		}
		&:nth-child(2) {
			margin-top: 5rem;
		}
		&:nth-child(3) {
			margin-top: 10rem;
		}
	}
}
.boost__container {
	@include flexCenter(column, center, center);
	background-color: $DarkViolet;
	background-image: url("./assets/images/bg-boost-mobile.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 25rem;
	h3 {
		color: white;
		font-size: 2.5rem;
		font-weight: 700;
	}
	button {
		@include buttonTransparent();
		background-color: $Cyan;
		padding: 1rem 2rem;
		border-radius: 20px;
		font-weight: 700;
	}
	button:hover {
		background-color: transparentize($color: $Cyan, $amount: 0.3);
	}
	@media (min-width: 1400px) {
		background-image: url("./assets/images/bg-boost-desktop.svg");
		h3 {
			font-size: 3.5rem;
		}
	}
}

footer {
	@include flexCenter(column, center, center);
	text-align: center;
	background-color: $VeryDarkViolet;
	padding: 5rem;
	.footer__logo {
		img {
			filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
				hue-rotate(336deg) brightness(102%) contrast(101%);
		}
	}
	.footer__info {
		p:first-child {
			font-weight: 700;
			color: white;
		}
		p:hover {
			color: $Cyan;
			cursor: pointer;
		}
	}
	.footer__socialMedia {
		display: flex;
		align-items: center;
		gap: 2rem;
		img:hover {
			filter: brightness(0) saturate(100%) invert(82%) sepia(28%)
				saturate(1152%) hue-rotate(123deg) brightness(85%) contrast(90%);
			cursor: pointer;
		}
	}
	@media (min-width: 1400px) {
		@include flexCenter(row, center, space-evenly);
	}
}
